*{
    box-sizing: inherit;
    /* margin: 0;
    padding: 0; */
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: Verdana, Tahoma,sans-serif;
    box-sizing: border-box;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

:root{
    --text-color:#000;
}
.category__sub.on__active{
    display: block;
}